.sizing {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #dedede;
  gap: 40px;
  padding-top: 50px;
  align-items: center;
  height: 100%;
  &__img {
    img {
      width: 744px;
      padding-top: 15px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    &--first {
      line-height: 26px;
      text-transform: uppercase;
      color: #999999;
      font-family: var(--desc-font);
    }
    &--second {
      font-size: 36px;
      font-family: var(--title-font);
      width: 600px;
    }
    &--third {
      font-family: var(--desc-font);
      font-size: 14px;
    }
  }
}

.address {
  display: flex;
  height: 200px;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;

  &-item {
    display: flex;
    width: 300px;
    gap: 10px;
    &-first {
      i {
        font-size: 20px;
        color: #666666;
      }
    }
    &-second {
      font-family: var(--desc-font);
      h5 {
        font-size: 18px;
        padding-bottom: 10px;
      }
      p {
        color: #666666;
      }
    }
  }
}

//Question
.question {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  gap: 20px;
  h3 {
    font-family: var(--title-font);
    font-size: 30px;
  }
  &-desc {
    font-family: var(--desc-font);
    color: #666666;
  }
  &-email {
    display: flex;
    gap: 20px;
    &-name {
      font-family: var(--desc-font);
      border: 1px solid #dee2e6;
      width: 350px;
      height: 50px;
      padding-left: 10px;
      outline: none;
    }
    &-gmail {
      font-family: var(--desc-font);
      border: 1px solid #dee2e6;
      width: 350px;
      height: 50px;
      padding-left: 10px;
      outline: none;
    }
  }
  &-number {
    &-tel {
      font-family: var(--desc-font);
      border: 1px solid #dee2e6;
      width: 720px;
      height: 50px;
      padding-left: 10px;
      outline: none;
    }
  }
  &-text {
    textarea {
      outline: none;
      border: 1px solid #dee2e6;
      width: 720px;
      padding-left: 10px;
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      resize: vertical;
      font-family: var(--desc-font);
      height: 150px;
    }
  }
  button {
    border: none;
    width: 100px;
    height: 40px;
    color: var(--light-color);
    cursor: pointer;
    font-family: var(--desc-font);
    background-color: var(--brown-color);
  }
}

//Map
.map {
  iframe {
    position: relative;
  }
  &-store {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 1270px;
    left: 100px;
    background-color: var(--light-color);
    h2 {
      font-family: var(--title-font);
      font-size: 25px;
    }
    p {
      font-family: var(--desc-font);
    }
    p:nth-child(3) {
      padding-bottom: 20px;
    }
    p:nth-child(6) {
      padding-bottom: 20px;
    }
    button {
      width: 150px;
      height: 50px;
      background-color: var(--dark-color);
      font-family: var(--desc-font);
      border: none;
      margin-top: 10px;
      cursor: pointer;
      i {
        padding-right: 10px;
      }
      a {
        color: var(--light-color);
      }
    }
  }
}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 0;
  h2 {
    font-family: var(--title-font);
    font-size: 35px;
    padding-bottom: 20px;
  }
  p {
    font-family: var(--desc-font);
    padding-bottom: 10px;
  }
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid var(--brown-color);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--brown-color);
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded="true"] {
  color: var(--brown-color);
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
  font-family: var(--desc-font);
}
.accordion-title {
  font-family: var(--desc-font);
}
