@import "../../../../responsive/mixins";
.unique {
  height: 500px;
  padding: 20px;
  margin: 15px 0;
  @include desktop{
    display: none;
  }
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--title-font);
    font-size: 35px;
  }
  &__categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--desc-font);
    font-size: 14px;
    padding-top: 20px;
    text-decoration: underline;
    text-decoration-color: var(--brown-color);
    text-underline-offset: 5px;
    cursor: pointer;
    .selected {
      &:hover {
        color: var(--brown-color);
      }
    }
  }
  &__products {
    padding-left: 15px;
    padding-bottom: 20px;
    &--name {
      font-family: var(--desc-font);
      padding-bottom: 5px;
      font-size: 14px;
    }
    &--price {
      font-family: var(--desc-font);
      font-size: 14px;
      font-weight: 500;
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 20px;
    .unique--item {
      width: 250px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      &.selected {
        color: var(--brown-color);
      }
      p {
        color: var(--dark-color);
      }
      img {
        width: 285px;
        height: 285px;
      }
    }
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.unique__products-list{
  padding-bottom: 10px;
}