@import '../../../../responsive/mixins';
.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 70px 150px;
  gap: 30px;
  @include mobile{
    flex-direction: column;
  }
  &__item{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  h5{
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: 500;
  }
  p{
    font-family: var(--desc-font);
    font-size: 12px;
  }
  svg {
    width: 60px;
    height: 60px;
    font-size: 60px;
    color: var(--brown-color);
  }
}
