@import "../../../../responsive/mixins";
.swiper {
  width: 100%;
  height: 100%;
  .first {
    background-image: url("https://cdn.shopify.com/s/files/1/0748/1612/7275/files/06.jpg?v=1680861219&width=1728");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
    @include tablet{
      height: 700px;
    }
  }
  .second {
    background-image: url("https://cdn.shopify.com/s/files/1/0748/1612/7275/files/necklaces.png?v=1680858550&width=1728");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
    @include tablet{
      height: 700px;
    }
  }
  .third {
    background-image: url("https://cdn.shopify.com/s/files/1/0748/1612/7275/files/ALOHAS--72.jpg?v=1680857852&width=1728");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
    @include tablet{
      height: 700px;
    }
  }
  &-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    img {
      display: block;
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
    .slider__text {
      z-index: 2;
      position: absolute;
      display: flex;
      flex-direction: column;
      left: 50px;
      top: 60%;
      align-items: start;
      gap: 20px;
      color: var(--light-color);
      &--title {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        color: var(--light-color);
        font-family: var(--desc-font);
      }
      &--header {
        padding: inherit;
        font-family: var(--title-font);
        font-size: 50px;
        font-weight: 400;
      }
      span {
        font-family: var(--desc-font);
        font-size: 12px;
      }
      button {
        width: 120px;
        height: 40px;
        border: none;
        font-family: var(--desc-font);
        font-size: 12px;
        cursor: pointer;
        a {
          color: var(--dark-color);
        }
        &:hover {
          background-color: var(--brown-color);
          transition: 0.4s;
          a {
            color: var(--light-color);
          }
        }
      }
    }
  }
}
